@model KTBook.Models.Product


 <h1 style="color: black;text-align: center">
    KTBook Store Product Details 
</h1>
    <div class="container-fluid">
        <!-- end page title -->

        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-lg-5">
                                <!-- Product image -->
                                <a href="javascript: void(0);" class="text-center d-block mb-4">
                                    <img src="~/img/@Model.Image" class="img-fluid" style="max-width: 280px;" alt="Product-img">
                                </a>
                            </div> <!-- end col -->
                            <div class="col-lg-7">
                                <form class="pl-lg-4">
                                    <!-- Product title -->
                                    <h3 class="mt-0">Name Book: @Model.Name</h3>
                                    <!-- Product stock -->
                                    @if (Model.Quantity >= 1)
                                    {
                                        <span class="badge badge-success mt-3">Instock</span>
                                    }
                                    else
                                    {
                                        <span class="badge badge-danger mt-3">Out of Stock</span>
                                    }

                                    <!-- Product description -->
                                    <div class="mt-4">
                                        <h6 class="font-14">Retail Price: @Model.Price $</h6>
                                    </div>

                                    <!-- Quantity -->
                                    <div class="mt-4">
                                        <h6 class="font-14">Quantity: @Model.Quantity</h6>
                                    </div>

                                    <!-- Product description -->
                                    <div class="mt-4">
                                        <h6 class="font-14">Description:@Model.Description</h6>
                                    </div>

                                    <!-- Product information -->
                                    <div class="mt-4">
                                        <div class="row">
                                            <div class="col-md-4">
                                                <h6 class="font-14">Available Stock: @Model.Quantity</h6>
                                            </div>
                                            
                                        </div>
                                    </div>

                                </form>
                            </div> <!-- end col -->
                        </div> <!-- end row-->
                    </div> <!-- end card-body-->
                </div> <!-- end card-->
            </div> <!-- end col-->
        </div>
        <!-- end row-->

    </div>

    <div class="">
        
        <a  asp-action="Index" class="btn btn-success" style="margin-left: 35%;">
        <i class="mdi mdi-arrow-left" style="text-align: center"></i> Back to List
    </a>
    </div>


