@page
@model RegisterModel
@{
    ViewData["Title"] = "Register";
}

<h1 style="
    text-align: center;
    color: black;">
    @ViewData["Title"]
</h1>

<div class="container">
    <div class="row justify-content-center">
        <div class="col-6">
            <div class="card">
                <div class="col-md-12">
                    <form id="registerForm" asp-route-returnUrl="@Model.ReturnUrl" method="post">
                        <hr/>
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <div class="mb-2">
                            <div class="form-floating">
                                <label asp-for="Input.Image"></label>
                                <input asp-for="Input.Image" class="form-control" autocomplete="image" aria-required="true" />

                                <span asp-validation-for="Input.Image" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="mb-2">
                            <div class="form-floating">
                                <label asp-for="Input.Fullname"></label>
                                <input asp-for="Input.Fullname" class="form-control" autocomplete="fullname" aria-required="true" />

                                <span asp-validation-for="Input.Fullname" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="mb-2">
                            <div class="form-floating">
                                <label asp-for="Input.Dob"></label>
                                <input asp-for="Input.Dob" class="form-control" autocomplete="dob" aria-required="true" />

                                <span asp-validation-for="Input.Dob" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="mb-2">
                            <div class="form-floating">
                                <label asp-for="Input.Address"></label>
                                <input asp-for="Input.Address" class="form-control" autocomplete="address" aria-required="true" />

                                <span asp-validation-for="Input.Address" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="mb-2">
                            <div class="form-floating">
                                <label asp-for="Input.Email"></label>
                                <input asp-for="Input.Email" class="form-control" autocomplete="username" aria-required="true" />

                                <span asp-validation-for="Input.Email" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="mb-2">
                            <div class="form-floating">
                                <label asp-for="Input.Password"></label>
                                <input asp-for="Input.Password" class="form-control" autocomplete="new-password" aria-required="true" />

                                <span asp-validation-for="Input.Password" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="mb-2">
                            <div class="form-floating">
                                <label asp-for="Input.ConfirmPassword"></label>
                                <input asp-for="Input.ConfirmPassword" class="form-control" autocomplete="new-password" aria-required="true" />

                                <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
                            </div>
                        </div>
                        <hr />
                        <button id="registerSubmit" type="submit" class="w-100 btn btn-lg btn-primary">Register</button>
                    </form>
                    <p class="text-end">
                        Already have an account!
                        <a asp-page="./Login" asp-route-returnUrl="@Model.ReturnUrl"><b>Login Now</b></a>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
