@model List<Order>
@{
    Layout = "~/Views/Shared/_CustomerLayout.cshtml";
}

@{
    double t = 0;
    @foreach (var item in Model)
    {
        t += item.TotalPrice;

    }
}
<h1 style="color: darkblue;text-align: center">
    History My Order
</h1>
<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-body">
                    <div class="row">
                        <div class="table">
                            <table class="table table-borderless">
                                <thead class="thead-light">
                                    <tr role="row">
                                        <th>Product</th>
                                        <th>Product Name</th>
                                        <th>Unit Price</th>
                                        <th>Quantity</th>
                                        <th>Total</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model)
                                    {
                                        <tr role="row">
                                            <td>
                                                <img src="~/img/@item.image" height="50" width="50">
                                            </td>
                                            <td>
                                                <a asp-controller="Customer" asp-action="Details" asp-route-Id="@item.ProductId" class="text-body">@item.ProductName</a>
                                            </td>
                                            <td>$@item.Price</td>
                                            <td>@item.Quantity</td>
                                            <td>@item.TotalPrice $</td>
                                        </tr>
                                    }
                                </tbody>
                                <tfoot>
                                    <tr>
                                        <td colspan="3"></td>
                                        <td>Total Order:</td>
                                        <td>@t $</td>
                                    </tr>
                                </tfoot>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>